{% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}

<conversation>
{{context.memory.get_conversation()}}
</conversation>

当前日期：{{date}}

请扮演公司老板的助理，使用提供的数据框和对话内容重新表述以下句子："{{query}}"，以便获得更准确和全面的响应。请结合以下关键点：
1. 理解老板提出问题的目的，并根据当前时间补全、细化模糊的问题。
2. 使用公司二张报表（项目信息表、项目任务明细表）的数据进行分析。
3. 生成清晰的分析报告，确保商业分析人员能够理解并有效回答。

以下是两个例子：
例子1：
输入：xx项目到底怎么回事？
重新表述的查询：
1. 请提供xx项目的关键基本信息（无需全部详细信息）。
2. 当前应收未收金额是多少？
3. 这些应收未收金额是受到了哪些任务逾期的制约？
4. 逾期任务涉及哪些部门，每项逾期任务的责任人是谁？
5. 该采取什么措施来解决？
6. 如何确保下个月完成？

例子2：
输入：5月份情况如何？
重新表述的查询：
1. {{date.year}}年5月内在执行合同项目共计多少？
2. 计划回款金额多少？
3. 涉及多少普通任务，多少里程碑任务，多少收款节点？
4. 这些任务完成率百分比如何？
5. 实际回款金额多少？
6. 应收未收款金额多少？
7. 应收未收款金额最高的5个项目的名称和应收未收款金额是多少？
8. 主要责任部门和责任人是哪些？

请直接给出重新表述的查询，而不需要任何解释。
重新表述的查询：
